[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
apispec = "*"
tweepy = "*"
mysql-connector = "*"

[dev-packages]

[requires]
python_version = "3.8"
