tweepy               == 4.9.0
mysql-connector      == 2.2.9
flask                == 2.1.2
jinja2               == 3.1.2
MarkupSafe           == 2.1.1
werkzeug             == 2.1.2
apispec              == 5.2.1
click                == 8.1.3
importlib-metadata   == 4.11.3
itsdangerous         == 2.1.2
mysql-connector      == 2.2.9
oauthlib             == 3.2.0
requests             == 2.27.0
requests-oauthlib    == 1.3.1
zipp                 == 3.8.0
apispec-webframeworks== 0.5.2
marshmallow          == 3.15.0
PyYAML               == 6.0
packaging            == 21.3
pyparsing            == 3.0.9
attrs	             == 21.4.0
clickclick	         == 20.10.2
connexion	         == 2.13.1
inflection	         == 0.5.1
jsonschema	         == 4.5.1
pyrsistent	         == 0.18.1
setuptools	         == 62.1.0
tweepy	             == 4.9.0
wheel	             == 0.37.1
zipp	             == 3.8.0