<!DOCTYPE HTML PUBLIC>
<html>
<head>
   <title>Aquí puedes editar el pérfil</title>
</head>
<body>
<h1>aquí puedes editar el pérfil, agrega nueva información</h1>


<form action="{{ url_for("gfg")}}" method="post">
<label for="nombre">Nombre:</label>
<input type="text" id="nombre" name="nombre" placeholder="nombre">

<label for="experiencia">Experiencia:</label>
<input type="text" id="experiencia" name="experiencia" placeholder="experiencia">

<label for="Tw">usuario de Twitter:</label>
<input type="text" id="Tw" name="twitter" placeholder="twitter">

<button type="submit">actualizar</button>

</form>

  <a href="/">volver a inicio</a>
</body>
</html>